@import "tailwindcss";

/* Lock body to viewport height and disable scrolling */
body {
  height: 100vh;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for container */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.search-bar {
  padding-top: env(safe-area-inset-top, 20px); /* Ensures space below the Dynamic Island */
}
