@import "tailwindcss";

/* Lock body to viewport height and disable scrolling */
body {
  height: 100vh;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for container */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.pheight{
  height:75vh;
}

.fixed-safe-top {
  position: fixed;
  top: constant(safe-area-inset-top, 0); /* Fallback for older iOS */
  top: env(safe-area-inset-top, 0); /* Modern standard */
  margin: 0.9rem;
}